@import "tailwindcss";
@tailwind utilities;
@tailwind components;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme{
  --color-primary:#6207ff;
  --color-secondary:#ededed;
  --color-mutedColor:#959595;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-violate: #7f22fe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    /* color: #959595; */
    /* text-decoration: ; */
  }
}

@layer utilities {
  .form-label {
    @apply text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70
  }

  .form-input {
    @apply flex w-full rounded-md border px-3 py-1 shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-gray-400 focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm h-12 text-lg bg-gray-50 border-gray-200 focus-visible:ring-indigo-500
  }

  select.form-input option {
    @apply rounded-md
  }
}

/* @layer components{ */
 .card-shadow {
  box-shadow: 0 1px 0px rgba(21, 20, 20, 0.264);
}
  /* } */


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.add-icon {
  color: #5222fe;
  /* background-color: #5222fe; */
  /* opacity: 0.1; */
}

.scrollbar-hidden {
  display: hidden;
  scroll-behavior: smooth;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: hidden;
  scroll-behavior: smooth;
}



.my-button {
  display: inline-flex;
  gap: 0.5rem;
  white-space: nowrap;
  background-image: linear-gradient(to right, #4f46e5, #9333ea);
  box-shadow: 0 10px 15px -3px rgba(99, 102, 241, 0.3),
    0 4px 6px -2px rgba(99, 102, 241, 0.3);
  transition: all 150ms ease;
}

.my-button:hover {
  background-image: linear-gradient(to right, #4338ca, #7e22ce);
  transform: scale(1.02);
}

.my-button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.scrollbar-hidden {

  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}


.example-controls select {
  background-color: red !important;
}